<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Liste fonctionnalite </title>
</head>
<body>
    <h2>Liste des fonctionnalite</h2>
    <a th:href="@{/type-adherents/liste}">Type Adherant</a>
    </br>
    <a th:href="@{/adherents/listeAdherent}">Adherant</a>
    </br>
    <a th:href="@{/livres/liste}">Gestion livre</a>
      </br>
    <a th:href="@{/type-payements/liste}">Type Payement </a>
  </br>
    <a th:href="@{/paiements}">Gestion Payement </a>


    
</body>
</html>
